.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul  {
    font-size: 24px;
    display: flex;
    
}
.nav-items > ul > li {
    list-style: none;
    margin-right: 20px;
}

.restaurant-card {
    padding: 5px;
     border: 1px solid black;
    width: 200px;
    height: 300px;
}
.restaurant-card  :hover {
       cursor: pointer;
}


.res-logo {
  
    width: 100%;
}
.restaurant-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}